.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
a img {
  border: 0;
}
body {
  font-family: sans-serif;
  background: #6d431f url('http://www.vzhurudolu.cz/skoleni/zdroje/wood.png') repeat;
  color: #fff;
  padding: 3em 3em 9em 3em;
}
h1 {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0;
}
.polaroids {
  zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.polaroids:before,
.polaroids:after {
  content: "";
  display: table;
}
.polaroids:after {
  clear: both;
}
.polaroid {
  float: left;
  width: 14em;
  height: 14em;
  padding: 1em;
  margin: 0 2em 2em 0;
  background-color: white;
  color: darkgrey;
}
.polaroid img {
  max-width: 100%;
}
.polaroid a {
  color: darkgrey;
  text-decoration: none;
}
.polaroid .head {
  text-align: center;
  font-size: 1em;
}
.polaroid:hover,
.polaroid:focus,
.polaroid:active {
  background-color: #fcf883;
}
.polaroid:hover .head,
.polaroid:focus .head,
.polaroid:active .head {
  color: black;
}
